$background-color: #F3F1F0;
$primary-font-color: #161615;
$secondary-font-color: #FCFDFE;
$secondary-background-color: #071A76;
$secondary2-background-color: #077e25;
$primary-font-style: "Open Sans", sans-serif;
$secondary-font-style: "Arial", sans-serif;
$primary-font-size: 1.5rem;
$secondary-font-size: 0.5rem;
